@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
*{ margin: 0;
    padding: 0;
}
body {
  background-color: rgb(230, 244, 250);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
}
.container{
    text-align: center;
}
.container h2{
    font-size: 6rem;
    line-height:1.5;
    font-weight: 600;
}
.container h3{
    font-size: 4rem;
}
.btns button{
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 5px 10px;
    font-weight: 500;
    background: transparent;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}
button:hover{
    transition: all 400ms ease-in-out;
    background-color: #333;
    color: white;
}